{
  "env": {
    "es6": true,
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  },
  "globals": {
    "setTimeout": false,
    "setImmediate": false,
    "__dirname": false,
    "document": false,
    "module": false,
    "console": false,
    "window": false,
    "global": false,
    "require": false,
    "process": false,
    "it": false,
    "expect": false,
    "describe": false,
    "__NODE_ENV__": false,
    "__DEVELOPMENT__": false,
    "__PRODUCTION__": false,
    "__TEST__": false,
    "__ELECTRON__": false,
    "__NAME__": false,
    "__VERSION__": false,
  },
  "rules": {
    "no-undef": ["error"],
    "comma-dangle": ["warn", "always-multiline"], // disallow or enforce trailing commas
    "indent": ["warn", 4, {"SwitchCase": 1}], // this option sets a specific tab width for your code (off by default)
    "key-spacing": ["warn", {"beforeColon": false, "afterColon": true, mode: "minimum"}], // enforces spacing between keys and values in object literal properties
    "quotes": ["warn", "single", "avoid-escape"], // specify whether double or single quotes should be used
    "keyword-spacing": ["warn", {"before": true, "after": true}], // require a space after certain keywords (off by default)
    "computed-property-spacing": ["warn", "never"], // disallow spaces inside computed properties
    "react/jsx-indent-props": [0]
  }
}
