{
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "react",
    "jsx-a11y",
    "react-perf"
  ],
  "extends": [
    "airbnb",
    "plugin:react-perf/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "scripts/webpack.config.js"
      }
    }
  }
}
