{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "import",
    "react",
    "jsx-a11y",
    "react-perf"
  ],
  "extends": [
    "airbnb"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "__NODE_ENV__": true,
    "__DEVELOPMENT__": true,
    "__PRODUCTION__": true,
    "__TEST__": true,
    "__ELECTRON__": true,
    "__HMR__": true,
    "__DEVSERVER__": true,
    "__NAME__": true,
    "__VERSION__": true,
    "__PACKAGEJSON__": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "scripts/webpack.config.js"
      }
    },
    "react": {
      "createClass": "createClass",
      "pragma": "React",
      "version": "15.4"
    }
  },
  "rules": {
    "arrow-parens": 0,
    "arrow-body-style": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
      }
    ]
  }
}
